td {
  padding: 10px 0;
  font-size: 14px;
}

.data-table-row {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.data-table-row:hover {
  background-color: #eee;
}

.data-table-row:last-of-type {
  border-bottom: none;
}

.data-table-cell__status {
  display: flex;
}

.data-table-cell__status-circle {
  width: 20px;
  height: 20px;
  background-color: chartreuse;
  border-radius: 100%;
  margin-right: 10px;
}
