.header {
  display: flex;
  align-items: center;
  padding: 25px 0px 10px 0px;
}

.header__details {
  margin-left: 30px;
  font-weight: 300;
}

.header__text {
  font-size: 20px;
}

.header__download-btn {
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  margin-left: 6rem;
  padding: 5px;
  border-radius: 5px;
}

.header__download-btn:hover {
  background-color: #888;
}
