table {
  border-collapse: collapse;
}

input[type="checkbox"] {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

.outer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 2px 8px 2px #888;
}
